* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background: #99ecec;
  color: #ed6df8;
  font-family: "Roboto", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  border: 3px solid #1a2a33;
  margin: 20px;
  height: auto;
  min-width: calc(100% - 40px);
}

header {
  box-sizing: border-box;
  border-bottom: 3px solid #1a2a33;
  height: 100px;
  width: 100%;
}

.title {
  display: block;
  height: 60px;
  margin: auto;
  padding: 20px 0;
}

footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  border-top: 3px solid #1a2a33;
  box-sizing: border-box;
  min-height: 100px;
  width: 100%;
}

.instagram {
  width: 97px;
  border-right: 3px solid #1a2a33;
}

.instagram img {
  padding: 10px 9px;
  height: 80px;
}

.body {
  display: flex;
  width: 100%;
  height: fit-content;
  margin: auto;
  text-align: center;
  min-height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tshirtGif {
  padding: 20px;
  width: 300px;
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
}

.tshirt {
  position: relative;
  top: 0;
  left: 0;
  width: 300px;
}

.tshirtGif .gif {
  position: absolute;
  top: 60px;
  left: 100px;
  width: 100px;
  padding: 20px;
}

#tshirt2 {
  filter: hue-rotate(72deg);
}
#tshirt3 {
  filter: hue-rotate(144deg);
}
#tshirt4 {
  filter: hue-rotate(216deg);
}
#tshirt5 {
  filter: hue-rotate(288deg);
}

@media screen and (max-width: 550px) {
  .title {
    height: 40px;
    padding: 30px 0;
  }
}

@media screen and (max-width: 450px) {
  .title {
    height: 32px;
    padding: 34px 0;
  }
}
