* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: #008081;
  color: #ed6df8;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

h1 {
  padding: 0 20px;
}

.center {
  margin: auto;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#underConstructionImg {
  max-width: 66vw;
  margin: 40px;
  border-radius: 20px;
}
