* {
  margin: 0;
  padding: 0;
  border-width: 0px;
}
html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background: rgb(202, 202, 105);
  color: #ed6df8;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", Helvetica, sans-serif;
}

.container {
  background-color: rgb(236, 230, 230);
  border: 3px solid #1a2a33;
  height: auto;
  margin: 20px;
  margin-bottom: 5px;
  min-width: calc(100% - 40px);
  padding: 0;
  position: relative;
}

header {
  background-color: rgb(28, 153, 202);
  border-bottom: 3px solid #1a2a33;
  box-sizing: border-box;
  height: 100px;
  margin: 0;
  width: 100%;
}

.title {
  display: block;
  height: 60px;
  margin: auto;
  padding: 20px 0;
}

footer {
  background-color: rgb(207 93 145);
  border-top: 3px solid #1a2a33;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0;
  min-height: 100px;
  position: relative;
  width: 100%;
}

.instagram {
  background-color: white;
  border-right: 3px solid #1a2a33;
  width: 97px;
}

.instagram img {
  height: 80px;
  padding: 10px 9px;
}

.body {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-evenly;
  margin: auto;
  min-height: auto;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.tshirtGif {
  left: 0;
  margin: auto;
  padding: 30px;
  position: relative;
  top: 0;
  width: 300px;
}

.tshirt {
  left: 0;
  position: relative;
  top: 0;
  width: 300px;
}

.tshirtGif .gif {
  left: 128px;
  position: absolute;
  top: 85px;
  width: 100px;
}

#tshirt1 {
  filter: hue-rotate(72deg);
}
#tshirt2 {
  filter: hue-rotate(144deg);
}
#tshirt3 {
  filter: hue-rotate(216deg);
}
#tshirt4 {
  filter: hue-rotate(288deg);
}

@media screen and (max-width: 550px) {
  .title {
    height: 46px;
    padding: 27px 0;
  }
}

@media screen and (max-width: 450px) {
  .title {
    height: 38px;
    padding: 31px 0;
  }
}
